<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= chatName %></title>
    <link rel="stylesheet" href="<%= baseUrl %>/chat.css">    
     <!-- Include Highlight.js and Marked.js -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.3.0/marked.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script> 

     <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-11H6KPC8FZ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-11H6KPC8FZ');
    </script>

</head>
<body>
    <div id="clearModalOverlay" class="modal-overlay" style="display: none;">
        <div class="modal">
            <p>Are you sure you want to clear this chat thread?</p>
            <div class="modal-buttons">
                <button id="clearConfirm">Yes</button>
                <button id="clearCancel">No</button>
            </div>
        </div>
    </div>
    <div class="chatbot-container">
        <div class="chatbot-header"><%= chatName %></div>
        <div class="chat-thread" id="chat-thread">
            <!-- Messages will be dynamically added here -->
        </div>
        <div class="controls">
            <label> Scenario
                <select id="chat-scenario">
                    <% scenarios.forEach((item) => { %>
                        <option value="<%= item.key %>" <% if(item.key == scenario) { %> selected <% } %>>
                            <%= item.label %>
                        </option>
                    <% }); %>
                </select>                      
            </label>
            <label> Model
                <select id="chat-model">
                    <% models.forEach((item) => { %>
                        <option value="<%= item.key %>" <% if(item.key == model) { %> selected <% } %>>
                            <%= item.label %>
                        </option>
                    <% }); %>
                </select>                      
            </label>
            <span class="knowledge-base">
                <label>
                    <input type="checkbox" id="use-knowledge-base" <% if(useRAG == true) { %> checked <% } %>> Use Knowledge Base
                </label>
                <label> Category
                    <select class="knowledge-base-options" <% if(useRAG != true) { %> disabled <% } %> id="knowledge-category">
                        <% categories.forEach((item) => { %>
                            <option value="<%= item.key %>" <% if(item.key == category) { %> selected <% } %>>
                                <%= item.label %>
                            </option>
                        <% }); %>                    
                    </select>
                </label>
                <label> Document limit
                    <select class="knowledge-base-options" <% if(useRAG != true) { %> disabled <% } %> id="document-limit">                        
                        <% docLimits.forEach((item) => { %>
                            <option value="<%= item %>" <% if(item == docLimit) { %> selected <% } %>>
                                <%= item %>
                            </option>
                        <% }); %>    
                    </select>            
                </label>
            </span>    
        </div>        
        <div class="input-container">
            <textarea id="user-input" placeholder="Type your message here..."></textarea>
            <button id="clear-button">Clear</button>
            <button id="send-button">Send</button>
        </div>        
    </div>
    <script>
        const chatThread = document.getElementById('chat-thread');
        const userInput = document.getElementById('user-input');

        const chatScenario = document.getElementById('chat-scenario');
        chatScenario.addEventListener('change', async () => {
            await fetch('<%= baseUrl %>/set-scenario', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 
                    scenario: chatScenario.value,
                })
            });
            window.location.reload();
        });

        const chatModel = document.getElementById('chat-model');
        chatModel.addEventListener('change', async () => {
            await fetch('<%= baseUrl %>/set-model', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 
                    model: chatModel.value,
                })
            });            
        });

        const useKnowledgeBase = document.getElementById('use-knowledge-base');                 
        useKnowledgeBase.addEventListener('change', async () => {      
            const useRAG = useKnowledgeBase.checked ? true : false;      
            for (let element of document.getElementsByClassName('knowledge-base-options')) {
                element.disabled = !useRAG;     
            }
            await fetch('<%= baseUrl %>/set-use-rag', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 
                    useRAG,
                })
            });                             
        });

        const knowledgeCategory = document.getElementById('knowledge-category');
        knowledgeCategory.addEventListener('change', async () => {
            await fetch('<%= baseUrl %>/set-rag-category', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 
                    category: knowledgeCategory.value,
                })
            });            
        });

        const docLimit = document.getElementById('document-limit');      
        docLimit.addEventListener('change', async () => {      
            await fetch('<%= baseUrl %>/set-document-limit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 
                    docLimit: docLimit.value,
                })
            });                             
        });
        
        // Configure syntax highliting
        marked.setOptions({
            highlight: (code, lang) => {
                return hljs.highlightAuto(code, lang ? [lang] : undefined).value;
            }
        });      

        const sendMessage = async () => {
            const messageText = userInput.value.trim();
            if (messageText) {
                addMessage('user', messageText);
                userInput.value = '';

                try {
                    const response = await fetch('<%= baseUrl %>/chat', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ 
                            prompt: messageText,
                            scenario: chatScenario.value,
                            model: chatModel.value, 
                            rag: {
                              enabled: useKnowledgeBase.checked,
                              category: knowledgeCategory.value,
                              limit: docLimit.value,
                            }
                        })
                    });

                    if (response.ok) {
                        const data = await response.json();
                        addMessage('assistant', data.response || 'No response');
                    } else {
                        addMessage('assistant', 'Error: Unable to reach the server');
                    }
                } catch (error) {
                    addMessage('assistant', 'Error: An unexpected error occurred');
                }
            }
        };
        
        const sendButton = document.getElementById('send-button');
        sendButton.addEventListener('click', sendMessage);
        userInput.addEventListener('keydown', (event) => {
            if (event.key === 'Enter' && !event.shiftKey) {
                sendMessage();
                event.preventDefault();
            } else if (event.key === 'Enter' && event.shiftKey) {
                userInput.value += '\n';
            }
        });
        
        const clearButton = document.getElementById('clear-button');
        clearButton.addEventListener('click', () => {      
            document.getElementById('clearModalOverlay').style.display = 'flex';                                
        });   

        document.getElementById('clearConfirm').addEventListener('click', async () => {
            await fetch('<%= baseUrl %>/clear-history', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 
                    scenario: chatScenario.value
                })
            });   
            window.location.reload();             
        });

        document.getElementById('clearCancel').addEventListener('click', () => {            
            document.getElementById('clearModalOverlay').style.display = 'none';
        });
        
        function addMessage(sender, text) {
            const messageDiv = document.createElement('div');
            messageDiv.className = `message ${sender}`;
            const textDiv = document.createElement('div');
            textDiv.className = 'text';
            textDiv.innerHTML = marked.parse(text);
            messageDiv.appendChild(textDiv);
            chatThread.appendChild(messageDiv);
            chatThread.scrollTop = chatThread.scrollHeight;
        }   
    </script>            
    <% chatHistory.forEach((item) => { %>            
        <script>
            addMessage('<%= item.role %>', `<%= item.content %>`);
        </script>
    <% }); %>    
</body>
</html>
